@model Comercio.MVC.Domain.Models.UsuarioModel.Usuario

@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Perfil</h1>

<div>
    <h4>Usuario</h4>
    <hr />

    <div>@ViewBag.CadastroSucesso</div>
    <div>@ViewBag.TarefaCriada</div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataDeNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneFixo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefoneFixo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneCelular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefoneCelular)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAdmin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-danger" id="deslogar">Deslogar</a> |
    <a class="btn btn-warning" asp-action="Logout" asp-controller="Login" asp-route-id="@Model.Id">Editar</a>
</div>